node_modules/
**/node_modules/
.next/
**/.next/
out/
dist/
build/
target/
.dart_tool/
app/ios/
app/android/
app/macos/
app/windows/
app/linux/
package-lock.json
Cargo.lock
pubspec.lock
.git/
.husky/_/
